
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script>
    $.ajax({
        dataType: "json",
        url: "http://localhost:11552/WordList",
        data: {},
        success: function (data) {
            for (var i = 0; i < data.length; i++) {

            }
        }
    });

</script>